/_urp/BoatAttack-master/.vscode
/_urp/BoatAttack-master/Library
/_urp/BoatAttack-master/Logs
/_urp/BoatAttack-master/UserSettings
/_urp/GD/.vscode
/_urp/GD/Library
/_urp/GD/Temp
/_urp/E3D-URP-Fur/Fur-Unity/.vscode
/_urp/E3D-URP-Fur/Fur-Unity/Library
/_urp/E3D-URP-Fur/Fur-Unity/Logs
/_urp/E3D-URP-Fur/Fur-Unity/Temp
/_urp/E3D-URP-Fur/Fur-Unity/Substance.EditorHelper.csproj
/_urp/E3D-URP-Fur/Fur-Unity/Substance.Platform.csproj
/_urp/UnityFurURP/.vscode
/_urp/UnityFurURP/Library
/_urp/UnityFurURP/Logs
/_urp/UnityFurURP/obj
/_urp/UnityFurURP/Temp
/_urp/UnityFurURP/UserSettings
/_urp/UnityFurURP/Assembly-CSharp.csproj
/_urp/UnityFurURP/Assembly-CSharp-Editor.csproj
/_urp/UnityFurURP/Unity.CollabProxy.Editor.csproj
/_urp/UnityFurURP/Unity.Mathematics.Editor.csproj
/_urp/UnityFurURP/Unity.Mathematics.csproj
/_urp/UnityFurURP/Unity.RenderPipeline.Universal.ShaderLibrary.csproj
/_urp/UnityFurURP/Unity.RenderPipelines.Core.Editor.csproj
/_urp/UnityFurURP/Unity.RenderPipelines.Core.Runtime.csproj
/_urp/UnityFurURP/Unity.RenderPipelines.Core.ShaderLibrary.csproj
/_urp/UnityFurURP/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj
/_urp/UnityFurURP/Unity.RenderPipelines.Universal.Editor.csproj
/_urp/UnityFurURP/Unity.RenderPipelines.Universal.Runtime.csproj
/_urp/UnityFurURP/Unity.RenderPipelines.Universal.Shaders.csproj
/_urp/UnityFurURP/Unity.Rider.Editor.csproj
/_urp/UnityFurURP/Unity.Searcher.Editor.csproj
/_urp/UnityFurURP/Unity.ShaderGraph.Editor.csproj
/_urp/UnityFurURP/Unity.ShaderGraph.Utilities.csproj
/_urp/UnityFurURP/Unity.TextMeshPro.Editor.csproj
/_urp/UnityFurURP/Unity.TextMeshPro.csproj
/_urp/UnityFurURP/Unity.Timeline.Editor.csproj
/_urp/UnityFurURP/Unity.Timeline.csproj
/_urp/UnityFurURP/Unity.VSCode.Editor.csproj
/_urp/UnityFurURP/Unity.VisualStudio.Editor.csproj
/_urp/UnityFurURP/UnityEditor.TestRunner.csproj
/_urp/UnityFurURP/UnityEditor.UI.csproj
/_urp/UnityFurURP/UnityEngine.TestRunner.csproj
/_urp/UnityFurURP/UnityEngine.UI.csproj
/_urp/UnityFurURP/UnityFurURP.sln
