/_urp/BoatAttack-master/.vscode
*.csproj
*.sln
*.json

/_urp/BoatAttack-master/Library
/_urp/GD/Library
/_urp/Lux URP Essentials_1.6/Library
/_urp/GDWater/Library
/_urp/CelShadingWithFringeShadow/Library
/_urp/E3D-URP-Fur/Library
/_urp/ExtendStandard-master/Library
/_urp/G14_PingAnJing/Library
/_urp/island/Library
/_urp/NDF/Library
/_urp/ShaderGraph-MasterStack-Samples/Library
/_urp/StylizedGrassShader/Library
/_urp/UnityFurURP/Library
/_urp/UnityURPFurDemo-master/Library
/_urp/UnityUrpWaterCollision/Library
/_urp/UniversalRenderingExamples_2020.2.0/Library
/_urp/URP_SSR/Library
/_urp/UWA_CustormSRPDemo/Library
*.cache
*.log
/_urp/Lux URP Essentials_1.6/obj
/_urp/Lux URP Essentials_1.6/UserSettings
/_urp/BoatAttack-master/Logs
/_urp/BoatAttack-master/UserSettings
/_urp/Lux URP Essentials_1.6/Temp
/_urp/StylizedGrassShader/obj/Debug
/_urp/StylizedGrassShader/.idea/.idea.StylizedGrassShader/.idea
/_urp/StylizedGrassShader/Temp
/_buidIn/KriptoFX_WaterSystem_2019.4.20f1c1/_project/Temp
/_buidIn/KriptoFX_WaterSystem_2019.4.20f1c1/_project/_project.sln
/_buidIn/KriptoFX_WaterSystem_2019.4.20f1c1/_project/Assembly-CSharp.csproj
/_buidIn/KriptoFX_WaterSystem_2019.4.20f1c1/_project/KWS.csproj
/_buidIn/KriptoFX_WaterSystem_2019.4.20f1c1/_project/Library
/_buidIn/KriptoFX_WaterSystem_2019.4.20f1c1/_project/Logs
/_buidIn/SSSSS/_project/Temp
/_buidIn/SSSSS/_project/Library
/_buidIn/SSSSS/_project/Logs
_urp/E3D-URP-Fur/Fur-Unity/Temp/UnityTempFile-c3398dd545ad12749a85f7c717bdfb56
/_urp/E3D-URP-Fur/Fur-Unity/Library
/_urp/E3D-URP-Fur/Fur-Unity/Temp
/_urp/Lux URP Essentials_1.6/.idea/.idea.Lux URP Essentials_1.6/.idea
/_buidIn/KriptoFX_WaterSystem_2019.4.20f1c1/_project/.idea/.idea._project/.idea
